<% if !current_user %>
  <nav>
    <h3><%= link_to "sign in with reddit", '/auth/reddit' %></h3>
  </nav>
<% end %>

<p class="current-trades">
  <h2>latest trades</h2>

  <ul>
    <% @last_completed.each do |trade| %>
      <li><%= link_to trade, trade_path(trade) %></li>
    <% end %>

    <%= paginate @last_completed %>
  </ul>
</p>
