<p>Welcome to the <%= link_to "/r/beertrade", "http://reddit.com/r/beertrade" %> trade tracking app.  From here you can request beer trades with other reddit users.  Just sign in above to get started.</p>

<%= render partial: "trades/trade_list", locals: {trades: @last_completed, type: "latest", pagination_param: :page} %>
