<h3>search for reddit user</h3>

<%= form_tag(users_path, method: :get) do %>
  <%= label_tag(:username_q, "reddit username") %>
  <%= text_field_tag(:username_q) %>

  <%= submit_tag("search") %>
<% end %>
