<h1>all users</h1>

<ul class="user-list">
  <% @users.each do |user| %>
    <li>
      <%= link_to user, user_path(user) %>
      out of <%= user.total_completed_trades %> trades
    </li>
  <% end %>

  <%= paginate @users %>
</ul>
