$good-color: #61B329;
$neutral-color: #C0C0C0;
$bad-color: #C00000;

$alert-color: #FF8282;

$dark-color: #000000;
$light-color: #FEFEFA;

$border-color: $dark-color;

$background-color: #D1D1D1;
$foreground-color: $light-color;
$main-width: 90%;


@mixin action-list {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  display: block;

  li {
    display: inline;
  }
}


nav.header-nav {
  display: block;
  border-bottom: 2px solid $border-color;
  width: 100%;
  min-height: 3em;
  padding-bottom: 2px;
  padding-top: 1em;

  #left-nav {
    @include action-list;
    float: left;

    li {
      padding-left: 1em;
    }
  }

  #right-nav {
    @include action-list;
    float: right;

    li {
      padding-right: 1em;
    }
  }
}


footer {
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  text-align: center;

  ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-left: .5em;
    }
  }
}


div {
  padding: 0;
  margin: 0;
}


body {
  font-family: verdana, arial, helvetica, sans-serif;
  width: 100%;
  text-align: center;
  background-color: $background-color;
  padding: 0px;
  margin: 0px;

  #main {
    padding: 2em;
    z-index: 1;
    width: $main-width;
    text-align: left;
    margin: 0px auto;
    padding-top: 0px;
    background-color: $foreground-color;
    min-height: 500px;
    box-shadow: 0 0 0.5em $dark-color;
  }

  h1 {
    padding: 0.25em;
  }

  h1:first-child {
    margin-bottom: 2em;
  }
}

.notice {
  color: $good-color;
}

.alert {
  color: $bad-color;
}

a {
  color: $dark-color;

  &:visited {
    color: #666;
  }

  &:hover {
    color: $light-color;
    background-color: $dark-color;
  }
}
