@import "global";

#notifications {
  margin: 0;
  padding: 0 1em 1em 1em;
  border: 2px solid $neutral-color;
  width: 50%;

  .notifications-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li.unseen-notification {
      display: block;
      border: 1px solid $neutral-color;
      color: $bad-color;
      padding: 0.5em;
    }

    li.unseen-notification:nth-child(odd) {
      background-color: $neutral-color;
    }
  }
}
