@import "global";


label[for=participant_feedback_type_positive] {
  color: $good-color;
}

label[for=participant_feedback_type_neutral] {
  color: $neutral-color;
}

label[for=participant_feedback_type_negative] {
  color: $bad-color;
}
