@import "global";


#trade-approval {
  background-color: #E3969E;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid $neutral-color;

  #trade-yes-no {
    @include action-list;

    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
}


.trade-actions {
  @include action-list;
}

.username-warning {
  color: $bad-color;
}

.trade-list {
  list-style: none;
  line-height: 1.5em;

  li.positive-feedback {

  }

  li.neutral-feedback {

  }

  li.negative-feedback {

  }
}
