@import "global";

.user-info {
  min-height: 10em;
}

#reputation {
  border: 1px solid $dark-color;
  float: right;
  padding: 1em;
  min-height: 10em;

  table {
    width: 100%;
  }
}

.good-trades {
  color: $good-color;
  a { 
    color: $good-color 
  }
}

.neutral-trades {
  color: $neutral-color;
  a { 
    color: $neutral-color; 
  }
}

.bad-trades {
  color: $bad-color;
  a { 
    color: $bad-color; 
  }
}

.unseen-notifications-count {
  background-color: $bad-color;
  color: $neutral-color;
  border-radius: 1.0em;
  padding: 0.5em;
}
