<% unless current_user %>
  <div class="row">
    <div class="alert alert-info">
      welcome to the <%= link_to "/r/beertrade", "http://reddit.com/r/beertrade" %> trade tracking app.  from here you can request beer trades with other reddit users.  just sign in above to get started.
    </div>
  </div>
<% end %>

<%= render "trades/trade_list", trades: @trades, type: "latest", pagination_param: :page, show_search: true %>

<%= render "users/search" %>
