<p id="notice"><%= notice %></p>

<h1>Listing Trades</h1>

<ul>
  <% @trades.each do |trade| %>
    <li>
      <%= link_to trade, trade  %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Trade', new_trade_path %>
