<h1>search results</h1>
<div class="clearfix">
  <%= render partial: "trades/search" %>
</div>

<%= render partial: "trades/trade_list", locals: {trades: @results, type: "latest", pagination_param: :page} %>
