<div class="row">
  <% if notice %>
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= alert %>
    </div>
  <% end %>
</div>
