<footer>
  <ul>
    <li><%= link_to "message the moderators", "https://www.reddit.com/message/compose?to=%2Fr%2Fbeertrade&subject=&message=" %></li>
    <li><%= link_to "open source", "https://github.com/patrickomatic/beertrade" %></li>
  </ul>
</footer>
